doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title= nomPage
block titre
ul
ul
  li
    a(href='/') Accueil
  li 
    a(href='/page2') Page2
  li 
    a(href='/page3') Page3 
