include ./includes/head.pug
form(action="/" method="POST")
  label(for="nom") Nom : 
  input(type="text" name="nom")
  label(for="prenom") Prénom : 
  input(type="text" name="prenom")
  input(type="submit")